# Copy this file to .sampler_servers.ini to configure connections to
# external Monte Carlo exact testing servers
#
# Each entry has the following form:
#
# [upstream_name]
# # hostname is optional, defaults to the upstream_name
# hostname = exact_test.example.com
# # the port is an arbitrary numeric port
# port = 12345


# This is a special section for local execution
[local_sampler_executor]
# Set local_parallelism = False to only use one process for analysis
# (combined local evaluation and gRPC wrangling).
local_parallelism = True
# Set inline_evaluation = False to only use the main process for I/O:
# any evaluation happens in fork children (if local_parallelism is True),
# or in remote compute servers.
inline_evaluation = True
