# The versions here aren't anything special, they just happened to
# work on one machine.

cffi~=1.15
hypothesis~=6.37
pytest~=7.0
pytest-xdist~=2.5
pycryptodome~=3.14

# Development helpers
black~=22.1
